@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
#O {
  position: sticky;
  top: 0; /* Reste collé en haut de la page */
  z-index: 1000; /* Pour s'assurer qu'il soit au-dessus d'autres éléments */
}
nav {
  background-color: #fff;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 150px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px;
}
.topimg {
  margin-right: 400px;
  scale: 0.7;
  height: 101%;
}
nav ul li {
  padding: 20px;
}
nav ul li:hover {
  color: rgb(0, 179, 155);
  cursor: pointer;
}
#H {
  color: rgb(0, 179, 155);
}
.toptitl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}
#P {
  color: rgb(0, 179, 155);
  font-size: 34px;

  font-weight: 300;
  font-family: "Work Sans", sans-serif;
  line-height: 44.2px;
}
.paragrafs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 300px;
  gap: 100px;
  font-family: "Roboto", sans-serif;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}
#one,
#two,
#three {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
#one {
  background-color: rgb(0, 179, 155);
}
#two {
  background-color: rgb(64, 64, 212);
}
#three {
  background-color: rgb(5, 5, 55);
}
#one img {
  margin-left: 30px;
  margin-top: 20px;
  scale: 2;
}
.HT {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 26px;
  background-color: rgb(0, 179, 155);
}
.HT h1 {
  margin-right: 10px;
}
.HT p {
  margin-top: 20px;
  margin-right: 10px;
}
#two img {
  margin-left: 30px;
  margin-top: 20px;
  scale: 2;
}
.ST {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 26px;
  background-color: rgb(64, 64, 212);
}
.ST h1 {
  margin-right: 10px;
}

.ST p {
  margin-top: 20px;
  margin-right: 10px;
}
#three img {
  margin-left: 30px;
  margin-top: 20px;
  scale: 2;
}
.QT {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 26px;
  background-color: rgb(5, 5, 55);
}
.QT h1 {
  margin-right: 10px;
}

.QT p {
  margin-top: 20px;
  margin-right: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  margin: 50px 200px;
}
.container h1 {
  width: 300px;
  font-size: 30px;
  color: rgb(0, 179, 155);
}

.my-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  font-size: 20px;
  margin-top: 100px;
}
#C {
  scale: 0.1;
  position: absolute;
  left: 750px;
}
.world {
  background-color: #dff8f7;
  width: 100%;
  height: 500px;
  position: relative;
  img {
    position: absolute;
    top: 400px;
    left: 280px;
    scale: 8;
  }
}
.wrt {
  position: absolute;
  left: 180px;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.wrt h1 {
  color: rgb(0, 179, 155);
  font-weight: lighter;
  font-size: 34px;
  font-weight: 300;
  line-height: 44.2px;
}
.wrt p {
  color: grey;
}
.wl {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#care {
  background-color: #fff;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 1000px;
  top: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    scale: 0.7;
    position: absolute;
    top: 0;
    left: 70px;
    margin-top: 8px;
  }
}
#core {
  background-color: #fff;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 700px;
  top: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    scale: 0.7;
    position: absolute;
    top: 0;
    left: 70px;
    margin-top: 8px;
  }
}
#cire {
  background-color: #fff;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 700px;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    scale: 0.7;
    position: absolute;
    top: 0;
    left: 80px;
  }
  border-radius: 10px;
}
#cbre {
  background-color: #fff;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 1000px;
  top: 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    scale: 0.7;
    position: absolute;
    top: 0;
    left: 70px;
    margin-top: 8px;
  }
}
